<a href="https://colab.research.google.com/github/InstitutodaVinci3/Vancouver/blob/master/Resumo_Sessao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# importando as bibliotecas básicas e preparando ambiente
import pandas as pd                     # convenção 
import numpy as np                      # convenção 
import random as rd                     # rd não é alias padrão mas sim adotado aqui somente 
# Itens adicionais
import glob
import os
import re

In [9]:
# Para extrair da Data do nome do arquivo
dia = re.search(r'_(\d+)', '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Resumo_Sessao CSV/Resumo da sessão_20170724T200002.csv')
print(dia[1])

20170724

In [8]:
# Verificando estrutura de arquivo
Resumo = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Resumo_Sessao CSV/Resumo da sessão_20170724T200002.csv',
                        sep=';', encoding='latin1', engine='python', header = 0)
Resumo.head(5)

   Número do animal  Número do grupo  ...  Baixa produção  Segunda volta
0              4573              4.0  ...       Unchecked      Unchecked
1              4587              4.0  ...       Unchecked      Unchecked
2              4546              4.0  ...       Unchecked      Unchecked
3              4548              4.0  ...       Unchecked      Unchecked
4              4065              4.0  ...         Checked      Unchecked

[5 rows x 20 columns]

In [11]:
Resumo.tail(5)

     Número do animal  Número do grupo  ...  Baixa produção  Segunda volta
792              4525              3.0  ...       Unchecked      Unchecked
793              4560              3.0  ...       Unchecked      Unchecked
794              5402              2.0  ...       Unchecked      Unchecked
795              5409              3.0  ...       Unchecked      Unchecked
796               796              NaN  ...             NaN            NaN

[5 rows x 20 columns]

In [23]:
path =r'/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Resumo_Sessao CSV'
filenames = glob.glob(path + "/*.csv")

In [24]:
Resumo_df = pd.DataFrame({'Id_Animal':[],'Grupo':[], 'Dias_Lac':[], 'Num_Lac':[],  'Data':[], 'Nome_Sala':[], 'Num_Sala':[],
                          'Sessao_#':[], 'Lote_#':[], 'MPC':[], 'Hora_ID':[], 'Hora_I':[], 'Duracao':[], 'Hora_F':[], 'Producao':[], 
                          'Prod_Relativa':[], '2_min':[], 'LEC':[], 'Baixa_Prod':[], '2a_Volta':[]})  
for filename in filenames:
  a = pd.read_csv(filename, skiprows=1, skipfooter=1, sep=',', encoding='latin1', engine='python',    
                  names=['Id_Animal','Grupo', 'Dias_Lac', 'Num_Lac',  'Data', 'Nome_Sala', 'Num_Sala', 'Sessao_#', 
                         'Lote_#', 'MPC', 'Hora_ID', 'Hora_I', 'Duracao', 'Hora_F', 'Producao', 
                         'Prod_Relativa', '2_min', 'LEC', 'Baixa_Prod', '2a_Volta'])
  Resumo_df = pd.concat([Resumo_df, a])
  Resumo_df['Data_Arq'] = filename  # Ainda não está OK - está ficando o nome do último arquivo somente

In [25]:
Resumo_df.head()

  Id_Animal Grupo  ...   2a_Volta                                           Data_Arq
0      4573     4  ...  Unchecked  /content/drive/MyDrive/Colab Notebooks/MedMep ...
1      4587     4  ...  Unchecked  /content/drive/MyDrive/Colab Notebooks/MedMep ...
2      4546     4  ...  Unchecked  /content/drive/MyDrive/Colab Notebooks/MedMep ...
3      4548     4  ...  Unchecked  /content/drive/MyDrive/Colab Notebooks/MedMep ...
4      4065     4  ...  Unchecked  /content/drive/MyDrive/Colab Notebooks/MedMep ...

[5 rows x 21 columns]

In [26]:
Resumo_df.tail(5)

                                             Id_Animal  ...                                           Data_Arq
791  4528;2;140;1;20/05/2017;Parlor1;1;3;6;1;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
792  4525;3;147;1;20/05/2017;Parlor1;1;3;0;8;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
793  4560;3;149;1;20/05/2017;Parlor1;1;3;0;7;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
794  5402;2;146;1;20/05/2017;Parlor1;1;3;0;5;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
795  5409;3;148;1;20/05/2017;Parlor1;1;3;0;6;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...

[5 rows x 21 columns]

In [27]:
Resumo_df

                                             Id_Animal  ...                                           Data_Arq
0                                                 4573  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
1                                                 4587  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
2                                                 4546  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
3                                                 4548  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
4                                                 4065  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
..                                                 ...  ...                                                ...
791  4528;2;140;1;20/05/2017;Parlor1;1;3;6;1;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
792  4525;3;147;1;20/05/2017;Parlor1;1;3;0;8;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
793  4560;3;149;1;20/05/2017;Parlor1;1;3;0;7;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
794  5402;2;146;1;20/05/2017;Parlor1;1;3;0;5;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
795  5409;3;148;1;20/05/2017;Parlor1;1;3;0;6;;20/05...  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...

[36616 rows x 21 columns]

In [28]:
Resumo_df.to_excel("/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Resumo_Sessao.xlsx")