<a href="https://colab.research.google.com/github/InstitutodaVinci3/Vancouver/blob/master/Temp_Animal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparação Ambiente

In [1]:
# importando as bibliotecas básicas e preparando ambiente
import pandas as pd                     # convenção 
import numpy as np                      # convenção 
import random as rd                     # rd não é alias padrão mas sim adotado aqui somente 
# Itens adicionais
import glob
import os
import re

In [ ]:
# ***** Lembrar que é necessário "MONTAR" o seu Google Dive junto ao Jupiter Collab como pré-requisito ****
#path ='/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV'
#filenames = glob.glob(path + "/*.csv")
#path

'/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV'

In [ ]:
#glob.glob(pathname=path)

['/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV']

In [ ]:
#filenames

['/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2406.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2406-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/0653-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2406-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2406-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/0653.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/0653-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2416.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/0653-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2416++++.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2416==+.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2624-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2623-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2623-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2623-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2581-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2581-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2624-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2567.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2623.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2581.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2581-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2560=.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2560===.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2483++++.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2560= (2).csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2560.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2483____.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2567-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2567-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2483=.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2483.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2468-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2468.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2468-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2468-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2431_.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2431=====.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2431====.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2416____+.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2431.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3475-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3475-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3530=====.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3475-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3500-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3460______.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3458_____.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3460__+.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3460---.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3460.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3458__.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3437____.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3458.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3458___.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3437____+.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3424-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2710.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3424-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3437===.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3437====++=.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2710====.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3424.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3424-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2710___.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2710==.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2624-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2662-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2662.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2662-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2662-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2648____.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2624.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2648===.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/2648___.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3644.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3600__.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3644+=.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3600_.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3579-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3579-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3600____.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3530__.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3579.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3600.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3579-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3530++++.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3500-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3530.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3500-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3500.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4448-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4448-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4448-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4426==.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4453.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4448.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4421.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4426___.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4426.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4421-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4421-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4412.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4421-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4412-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4412-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4412-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4021-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4021-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4021.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4021-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3785___.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3785.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3785==.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3785------.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3644===.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3652-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3652.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3652-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/3644==.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4498-3.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4477===.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4498-4.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4498-1.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4498.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4465======.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4465==.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4465----.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4453_.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4475==.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4453___.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4475====.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4465.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4475.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4453]=.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4477_.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4477___.csv',
 '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/4477.csv']

# Testes inicials

In [ ]:
# Teste de leitura das temperaturas dos anumais (animai Id 0653)
#nome_colun = {'Data', 'Hora', 'Temperatura'}  
#data_0653 = pd.DataFrame(columns=nome_colun)
data_0653 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV/0653.csv', sep=';', encoding='latin1', engine='python', skiprows=8)
data_0653.head()

   12/09/2017  08:40  31,875
0  12/09/2017  09:10  18,375
1  12/09/2017  09:40  18,375
2  12/09/2017  10:10  19,125
3  12/09/2017  10:40  38,625
4  12/09/2017  11:10      39

In [ ]:
# tentativa de junção dos arquivos de temperatura - arquivos CSV, pulando as 8 primeiras linhas
# com a mesma abordagem tentada com os arquvis TXT de Producao de Leite

#dfs = pd.DataFrame()
#for filename in filenames:
#  a = pd.read_csv(filename, sep=';', encoding='latin1', engine='python', skiprows=8)
#  dfs = dfs + a
#dfs.tail()
#type(dfs)
# Concatenando todos os dados em um único DataFrame
#Temp_Animal_df = pd.merge.
#Temp_Animal_df
#Temp_Animal_df.to_excel("Temp_Animal.xlsx")

# *** NÃO FUNCIONOU ****

In [ ]:
# *** MODELO DE LEITURA E CONCATENAÇÃO DE CSV NO COLAB *** #

# extensao = 'csv'
# arquivos_csv = [i for i in glob.glob('*.{}'.format(extensao))]
# concatenado = pd.concat([pd.read_csv(f, sep=';') for f in arquivos_csv ])
# concatenado.to_csv('nome_da_planilha.csv')
# files.download('nome_da_planilha.csv')

In [ ]:
extensao = 'csv'
#arquivos_csv = [i for i in glob.glob('*.{}'.format(extensao))]
arquivos_csv = [i for i in filenames]

# **** filenames e path foram setados no início conforme abaixo ******#
# path ='/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_animal CSV' - diretório do GDrive onde estão os arquivos
# filenames = glob.glob(path + "/*.csv")
# ********************************************************************#

concatenado = pd.concat([pd.read_csv(f, sep=';', index_col=False, encoding='latin1', skiprows=8) for f in arquivos_csv ])
concatenado.to_excel('nome_da_planilha.xlsx')
#files.download('nome_da_planilha.xlsx')
concatenado.head()

   13/09/2017  07:01  22,875 18/09/2017  ... 24.125 18.500 17.000 23.500
0  13/09/2017  07:31  22,875        NaN  ...    NaN    NaN    NaN    NaN
1  13/09/2017  08:01  21,625        NaN  ...    NaN    NaN    NaN    NaN
2  13/09/2017  08:31  17,125        NaN  ...    NaN    NaN    NaN    NaN
3  13/09/2017  09:01   20,75        NaN  ...    NaN    NaN    NaN    NaN
4  13/09/2017  09:31  20,375        NaN  ...    NaN    NaN    NaN    NaN

[5 rows x 103 columns]

# Novos Testes

In [ ]:
import pandas as pd
import glob
import re
from datetime import datetime, timedelta

path =r'/content/drive/MyDrive/MedMep_tst'
filenames = glob.glob(path + "/*.csv")

In [ ]:
# Testando o código para a obtenção / captura da data do nome do arquivo
import re
x = re.search(r'(\d+)', '0653-1.csv')
print(x[1])

0653

In [ ]:
# Testando o código para a obtenção / captura da data do nome do arquivo
import re
x = re.search(r'(\d+)', '2416++++.csv')
print(x[1])

2416

In [ ]:
# código Edu para criação do cabeçalho
# temperatura = pd.read_csv('0653-3.csv', sep=';', skiprows = 7, encoding='latin1', engine='python', header = 0,  names=["Data", "Hora", "Temperatura"])

In [ ]:
# código do Jhean para criação de um DF vazio e com o cabeçalho
# empty_frame = pd.DataFrame({'Data':[], 'Hora':[], 'Temperatura':[]})
# empty_frame

Empty DataFrame
Columns: [Data, Hora, Temperatura]
Index: []

In [ ]:
empty_frame = pd.DataFrame({'Data':[], 'Hora':[], 'Temperatura':[]})
#empty_frame
#dfs =[]
for filename in filenames:
  a = pd.read_csv(filename, sep=';', encoding='latin1', engine='python',  names=["Data", "Hora", "Temperatura"])
  empty_frame = pd.concat([empty_frame, a])
  empty_frame['Id Animal'] = filename
#  dfs.append(a)
# temperatura_df = pd.concat(dfs)
#temperatura_df

In [ ]:
empty_frame

           Data  ...                                       Id Animal
0    12/09/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
1    12/09/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
2    12/09/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
3    12/09/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
4    12/09/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
..          ...  ...                                             ...
165  30/07/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
166  30/07/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
167  30/07/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
168  30/07/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
169  30/07/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv

[4250 rows x 4 columns]

In [ ]:
empty_frame.describe()

              Data  ...                                       Id Animal
count         4250  ...                                            4250
unique          50  ...                                               1
top     16/09/2017  ...  /content/drive/MyDrive/MedMep_tst/2416++++.csv
freq           180  ...                                            4250

[4 rows x 4 columns]

In [ ]:
empty_frame.to_excel("/content/drive/MyDrive/MedMep_tst/Temperatura_Animal.xlsx")

# Resumo do novo teste

In [2]:
# Preparação do ambiente

import pandas as pd
import glob
import re
from datetime import datetime, timedelta
path =r'/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_Animal CSV'
filenames = glob.glob(path + "/*.csv")

In [3]:
# Ler parte do nome do arquivo

b = re.search(r'(\d+)', '/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temp_Animal CSV/2416++++.csv')
print(b[1])

2416

In [11]:
temp_df = pd.DataFrame({'Data':[], 'Hora':[], 'Temperatura':[]})
for filename in filenames:
  a = pd.read_csv(filename, skiprows=8, skipfooter=1, sep=';', encoding='latin1', engine='python',  names=["Data", "Hora", "Temperatura"])
  temp_df = pd.concat([temp_df, a])
  temp_df['Id_Animal'] = filename  # Ainda não está OK - está ficando o nome do último arquivo somente

In [13]:
temp_df

                                   Data  ...                                          Id_Animal
(27/07/2017, 07:30, 16.375)         NaN  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
(27/07/2017, 08:00, 22.375)         NaN  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
(27/07/2017, 08:30, 39.25)          NaN  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
(27/07/2017, 09:00, 39.625)         NaN  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
(27/07/2017, 09:30, 39.75)          NaN  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
...                                 ...  ...                                                ...
259                          17/09/2017  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
260                          17/09/2017  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
261                          17/09/2017  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
262                          17/09/2017  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
263                          17/09/2017  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...

[45957 rows x 4 columns]

In [15]:
temp_df.to_excel('/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Temperatura Animal.xlsx')